<!DOCTYPE html>
<html >

<head>
<title>Machine Learning  Linear Regression Deployment</title>
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
<style>

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
      
<div class="" style="background-color:	#9370DB;" >
<div class="clearfix">
           
<div class="col-md-12">
<center><h2 style="font-size:50px;color:black;margin-top:10px;">Poornima Institute of Engineering & Technology</h2></center> 
<center><h2 style="font-size:45px;color:black;margin-top:10px;">Department of Computer Engineering</></center> 

</div>
<div class="login">

<!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('pr')}}"method="get">
<div class="form-floating mb-3">
<br>
<br>
<div>
<label for="floatingInput"><h6>Enter p_clas</h6></label>
<input type="number" class="form-control" id="exp" name="exp" step="any" min="0" max="4" placeholder="MAX is 4" required="required">

</div>
<br>
<br>
<div>
<label for="floatingInput"><h6>Enter sexs</h6></label>
<input type="number" class="form-control" id="exp1" name="exp1" step="any" min="0" max="1" placeholder="0 for femal 1 for male" required="required">

</div>
<br>
<br>
<div>
<label for="floatingInput"><h6>Enter age</h6></label>
<input type="number" class="form-control" id="exp2" name="exp2" step="any" min="0" max="100" placeholder="age" required="required">

</div>

<br>
<br>

<div>
<label for="floatingInput"><h6>Enter Life_Jacket</h6></label>
<input type="number" class="form-control" id="exp3" name="exp3" step="any" min="0" max="1" placeholder="0 for NO 1 for Yes" required="required">

</div>
<br>
<br>
<div>
<label for="floatingInput"><h6>Enter Parch</h6></label>
<input type="number" class="form-control" id="exp4" name="exp4" step="any" min="0" max="2" placeholder=" 0 1 2" required="required">

</div>
<br>
<br>
<div>
<label for="floatingInput"><h6>Enter Fair</h6></label>
<input type="number" class="form-control" id="exp5" name="exp5" step="any" min="0" max="100" placeholder="fair" required="required">

</div>

</div>
<br>
<br>

<button type="submit" class="btn btn-primary btn-block btn-large">Predict for Living </button>
</form>
<br>
<br>
<br>

{{ prediction_text }}    
</div>

<div class="" style="background-color:blue;" >
<div class="clearfix">
           
<div class="col-md-12">
 <center><p style="font-size:25px;color:white;margin-top:20px;">Experiment Performed in Summer internship 2022 from 27 June to 8 August </p></center> 
</div>
</div>
</div>
</body>
</html>